{% extends 'core/base.html' %}


{% block content %}
{% load humanize %}
<H1>Campañas</H1>
<div class="productos">
    {% for c in campanas %}
    <div class="producto">
        <div class="contenedor_producto">
            <div class="card">
                <div class="card-body">
                    {% if c.imagen_campana %}
                    <img src="{{ c.imagen_campana.url }}" alt="Imagen de la campaña">
                    {% endif %}

                    <div class="detalles">
                        <h5>Usuario: {{ c.user.first_name }} {{c.user.last_name}}</h5>
                        <h2>{{ c.nombre_campana | title }}</h2>
                        
                        <h3>${{ c.monto_objetivo_campana | intcomma}}</h3>
                        <h4>Tipo de Campaña: {{ c.tipo_campana }}</h4>
                    </div>
                </div> <!-- Cierre de card-body -->
            </div> <!-- Cierre de card -->
        </div> <!-- Cierre de contenedor_producto -->
    </div> <!-- Cierre de producto -->
    {% endfor %}
</div>
{% endblock %}