{% extends 'core/base.html' %}

{% block content %}
<div class="container my-5">
    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">Restablecer Contraseña</h5>
            <p>Por favor, ingresa tu correo electrónico para recibir un enlace para restablecer tu contraseña.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Enviar enlace de restablecimiento</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}